<div class="accordion-body">
    <br>

    <div class="row">
        <div class="col-sm">
            <span class="badge bg-primary">Bleu</span> : 7-14
        </div>
        <div class="col-sm">
            <span class="badge bg-success">Vert</span> : 15-19
        </div>
        <div class="col-sm">
            <span class="badge bg-warning text-dark">Orange</span> : 20-30
        </div>
        <div class="col-sm">
            <span class="badge bg-light text-dark">Blanc</span> : 32-39
        </div>
        <div class="w-100"></div>
        <div class="col-sm">
            <span class="badge bg-secondary">Gris</span> : 40-49
        </div>
        <div class="col-sm">
            <span class="badge bg-danger">Rouge</span> : 50-59
        </div>
        <div class="col-sm">
            <span class="badge bg-info text-dark">Cyan</span> : 60-65
        </div>
        <div class="col-sm">
            <span class="badge bg-dark">Noir</span> : 66+
        </div>
    </div>

    <br>
    <div class="progress"  style="height: 20px;">
        <div class="progress-bar bg-primary" role="progressbar" style="width: 11.11%" aria-valuenow="11.11"
             aria-valuemin="0" aria-valuemax="100">11.11%
        </div>

        <div class="progress-bar bg-secondary" role="progressbar" style="width: 11.11%" aria-valuenow="11.11"
             aria-valuemin="0" aria-valuemax="100">11.11%
        </div>

        <div class="progress-bar bg-success" role="progressbar" style="width: 11.11%" aria-valuenow="11.11"
             aria-valuemin="0" aria-valuemax="100">11.11%
        </div>

        <div class="progress-bar bg-danger" role="progressbar" style="width: 11.11%" aria-valuenow="11.11"
             aria-valuemin="0" aria-valuemax="100">11.11%
        </div>

        <div class="progress-bar bg-warning text-dark" role="progressbar" style="width: 11.11%"
             aria-valuenow="11.11" aria-valuemin="0" aria-valuemax="100">11.11%
        </div>

        <div class="progress-bar bg-info text-dark" role="progressbar" style="width: 11.11%"
             aria-valuenow="11.11" aria-valuemin="0" aria-valuemax="100">11.11%
        </div>

        <div class="progress-bar bg-light text-dark" role="progressbar" style="width: 11.11%"
             aria-valuenow="11.11" aria-valuemin="0" aria-valuemax="100">11.11%
        </div>

        <div class="progress-bar bg-dark" role="progressbar" style="width: 11.11%" aria-valuenow="11.11"
             aria-valuemin="0" aria-valuemax="100">11.11%
        </div>

    </div>
</div>
