<div class="accordion-body">
    <br>
    <div class="row">
        <div class="col-sm">
            <span class="badge bg-danger">Rouge</span> : Croyant
        </div>
        <div class="col-sm">
            <span class="badge bg-secondary">Gris</span> : Non-croyant
        </div>
    </div>

    <br>
    <div class="progress" style="height: 20px;">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 30%" aria-valuenow="30"
             aria-valuemin="0" aria-valuemax="100">30%
        </div>

        <div class="progress-bar bg-secondary" role="progressbar" style="width: 50%" aria-valuenow="30"
             aria-valuemin="0" aria-valuemax="100">50%
        </div>
    </div>

</div>