{% extends 'base.html.twig' %}

{% block title %}Sondage - Résultats{% endblock %}

{% block post %}"nav-link active" aria-current="page"{% endblock %}

{% block body %}
    <style>

    </style>

    <main role="main" class="container">
        <br>
        <h1 class="text-center">Merci de votre contribution!</h1>
        <br>
        <h3>Résultats :</h3>
        <br>
            {% for i, question in questions %}
                <div class="row">
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">{{ question.question|raw }}<br><small class="text-muted">({{ answers[i]['count'] }} réponses)</small></h4>
                                <p class="card-text">
                                <div class="accordion accordion-flush" id="accordion_question_{{ i }}">
                                    {% for answerId, answer in question.answers %}
                                        {% if answers[i]['options'][answerId] is defined %}
                                        {% include('post/answer.html.twig') %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                </p>
                            </div>
                        </div>
                        <br>
                    </div>
                    <br>
                </div>
            {% endfor %}
        </main>
{% endblock %}
